/* Estilos Globais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {        
    overflow-y: hidden;
}

/********* Estilo mouse *********/

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/* Estilos Content Wrapper */

#wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    height: 99vh;
}

/********* Estilo Backlog *********/

.area-backlog {
    flex:1;
    /* background-color: gainsboro; */
    min-width: 300px !important;    
    margin-top: 3px;
    height: 98vh;   
    overflow-x: scroll;
}

.card-backlog {
    margin-bottom: 2px;   
}
/* 
#backlog {
    flex: 1;
    justify-content: space-between;    
    height: 98vh;
    margin: 3px;
} */

/* .area-backlog > div > ul > li{
    background-color: white;
    height: 50px;
    width: 100%;
    min-width: 300px;    
} */

.header-backlog {
    width: 100%;
    height: 35px;    
    background-color: #3BC0C3;
    color: white;
    font-size: 12px; 
    display: flex;
    justify-content: center; 
    margin-bottom: 2px;       
    padding: 5px;
    align-items: center;
}

.area-backlog .header-chamado {
    font-weight: bold;
}

.area-backlog .header-chamado-title{
    display: initial;
}

.area-backlog .description-chamado{    
    display: initial;
}

.area-backlog .description-chamado > p {
    margin-top: 1rem;
}

/******** Estilo Users *********/

.area-users {
    flex:3;
    display: flex;
    background-color: white;    
    width: 60%;
    height: 98vh;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;    
    overflow-y: scroll;
}

/* #area_users div:nth-child(even) {
    background-color: darkgoldenrod;
}
#area_users div:nth-child(odd) {
    background-color: khaki;
} */

/* Column Users Kanban */
.list-card-user {
    height: 70vh;
}

/* Este é o card em si (Criar classe para o mesmo) */
.card-user {
    margin-bottom: 2px;
}

.header-user {
    width: 100%;
    height: 35px;
    margin-bottom: 2px;
    background-color: #3BC0C3;
    color: white;
    font-size: 12px; 
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .area-users > div > ul > li{
    background-color: white;
    height: 50px;
    width: 100%;
} */

.container-user {
    flex: 1 0 100px;
    justify-content: space-between;
    height: 98vh;
    margin: 3px;
    /* border: 1px solid #e5e5e5; */
}

/* Container Decrease */

.description-chamado > p {
    height: 30px;
}

.area-users .container-user .header-chamado {
    font-weight: normal
}

.area-users .container-user .header-chamado-title{
    display: none;
}

.area-users .container-user .description-chamado{
    display: none;
}

/* Card Expand */

.container-user-expand {
    flex: 6 0 350px;
    justify-content: space-between;
    height: 98vh;
    margin: 3px;
}

.area-users .container-user-expand .header-chamado {
    font-weight: bold;
}

.area-users .container-user-expand .header-chamado-title{
    display: initial;
}

.area-users .container-user-expand .description-chamado{    
    display: initial;    
}

.area-users .container-user-expand .description-chamado > p {
    margin-top: 1rem;    
}

/* Icon Font-Awesome */
/* .icone {
    font-size: 10px;
} */

.icon-header{
    width: 14px;
    height: 14px;
}

/* Sortable Chosen */
.custom-chosen {
    background-color: lemonchiffon;
    color: black;
    opacity: 0.2;
}